<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Prepython</title>
</head>
<body>
    <div class="base">

        {% if user.is_authenticated %}
        <h1>Hey {{ fname }} </h1>
        <button type ="submit"><a style="text-decoration: none" href="/logout">Logout</button>
        {% endif %}
    </div>
</body>
</html>